<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="wallh">
  <link
    name="chassis">
    <inertial>
      <origin
        xyz="5.61480223968264E-05 -0.0117064854462814 0.0238887509897539"
        rpy="0 0 0" />
      <mass
        value="0.280599674625568" />
      <inertia
        ixx="0.000200451284950895"
        ixy="-5.9011714217354E-08"
        ixz="2.67343649586141E-08"
        iyy="0.000270320498906944"
        iyz="3.57177926688131E-09"
        izz="0.000451295385707299" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wallh/meshes/chassis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.694117647058824 0.0980392156862745 0.0980392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wallh/meshes/chassis.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="leftwheel">
    <inertial>
      <origin
        xyz="-0.0163899753313301 2.83848577531387E-07 2.48149572834588E-08"
        rpy="0 0 0" />
      <mass
        value="0.0297341396000601" />
      <inertia
        ixx="2.03788362309296E-05"
        ixy="8.94081239139364E-11"
        ixz="7.80138441286818E-12"
        iyy="1.22910336664367E-05"
        iyz="4.02440932499312E-14"
        izz="1.2291388839289E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wallh/meshes/leftwheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wallh/meshes/leftwheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lw"
    type="revolute">
    <origin
      xyz="-0.06625 -0.014071 -0.018803"
      rpy="0 0 0" />
    <parent
      link="chassis" />
    <child
      link="leftwheel" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="100"
      velocity="100" />
  </joint>
  <link
    name="rightwheel">
    <inertial>
      <origin
        xyz="0.0163899753313302 2.83848578030987E-07 -2.48149572834588E-08"
        rpy="0 0 0" />
      <mass
        value="0.0297341396000606" />
      <inertia
        ixx="2.03788362309299E-05"
        ixy="-8.94081236634122E-11"
        ixz="7.80138440688054E-12"
        iyy="1.22910336664369E-05"
        iyz="-4.0244155905073E-14"
        izz="1.22913888392891E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wallh/meshes/rightwheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wallh/meshes/rightwheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rw"
    type="revolute">
    <origin
      xyz="0.06625 -0.014071 -0.018803"
      rpy="0 0 0" />
    <parent
      link="chassis" />
    <child
      link="rightwheel" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="100"
      velocity="100" />
  </joint>
</robot>