<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="aaa">
  <link
    name="chassis">
    <inertial>
      <origin
        xyz="5.6202E-05 -0.011704 0.02393"
        rpy="0 0 0" />
      <mass
        value="0.75" />
      <inertia
        ixx="0.00020038"
        ixy="-5.9012E-08"
        ixz="2.6652E-08"
        iyy="0.0002702"
        iyz="3.5718E-09"
        izz="0.00045111" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aaa/meshes/chassis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aaa/meshes/chassis.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="leftshaft">
    <inertial>
      <origin
        xyz="-0.0104 -1.8041E-16 2.7756E-16"
        rpy="0 0 0" />
      <mass
        value="0.005" />
      <inertia
        ixx="1.7126E-09"
        ixy="-2.9291E-22"
        ixz="3.976E-22"
        iyy="1.7676E-08"
        iyz="-4.3067E-10"
        izz="1.7706E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aaa/meshes/leftshaft.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aaa/meshes/leftshaft.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ls"
    type="revolute">
    <origin
      xyz="-0.06575 -0.014071 -0.018803"
      rpy="0 0 0" />
    <parent
      link="chassis" />
    <child
      link="leftshaft" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="1000"
      velocity="1000" />
  </joint>
  <link
    name="leftwheel">
    <inertial>
      <origin
        xyz="0.00231 8.0701E-06 -7.013E-06"
        rpy="0 0 0" />
      <mass
        value="0.03" />
      <inertia
        ixx="2.0379E-05"
        ixy="6.7734E-11"
        ixz="-5.8879E-11"
        iyy="1.2291E-05"
        iyz="1.7748E-10"
        izz="1.2291E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aaa/meshes/leftwheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aaa/meshes/leftwheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lw"
    type="revolute">
    <origin
      xyz="-0.0216 0 0"
      rpy="0 0 0" />
    <parent
      link="leftshaft" />
    <child
      link="leftwheel" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="1000"
      velocity="1000" />
  </joint>
  <link
    name="rightshaft">
    <inertial>
      <origin
        xyz="0.0104 4.8572E-16 -2.498E-16"
        rpy="0 0 0" />
      <mass
        value="0.005" />
      <inertia
        ixx="1.7126E-09"
        ixy="-7.6673E-22"
        ixz="3.8142E-22"
        iyy="1.7676E-08"
        iyz="4.3067E-10"
        izz="1.7706E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aaa/meshes/rightshaft.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aaa/meshes/rightshaft.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rs"
    type="revolute">
    <origin
      xyz="0.06575 -0.014071 -0.018803"
      rpy="0 0 0" />
    <parent
      link="chassis" />
    <child
      link="rightshaft" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="1000"
      velocity="1000" />
  </joint>
  <link
    name="rightwheel">
    <inertial>
      <origin
        xyz="-0.00231 8.0701E-06 7.013E-06"
        rpy="0 0 0" />
      <mass
        value="0.03" />
      <inertia
        ixx="2.0379E-05"
        ixy="-6.7734E-11"
        ixz="-5.8879E-11"
        iyy="1.2291E-05"
        iyz="-1.7748E-10"
        izz="1.2291E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aaa/meshes/rightwheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aaa/meshes/rightwheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rw"
    type="revolute">
    <origin
      xyz="0.0216 0 0"
      rpy="0 0 0" />
    <parent
      link="rightshaft" />
    <child
      link="rightwheel" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="1000"
      velocity="1000" />
  </joint>
</robot>